body {
  background-color: #FCF0C8;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  text-align: center;
}

div {
  position: relative;
}

h1 {
  color: #630000;
  margin: 0;
  width: 100%;
  font-family: "Licorice", cursive;
  font-size: 400%;
}

h2 {
  font-size: 2.5em;
  color: #630000;
}

h3 {
  font-size: 1.7em;
  margin-top: 50px;
  margin-bottom: 50px;
}

hr {
  border-top: 10px dotted #630000;
  border-bottom: none;
  width: 10%;
  margin-top: 100px;
  margin-bottom: 100px;
}

p {
  font-size: 1.2em;
}

/***************class****************/
.arttalk {
  position: absolute;
  right: 500px;
  left: 500px;
}

.bottom {
  background-color: #911F27;
  margin: 0;
  height: 150px;
}

.btn {
  background: #911F27;
  background-image: -webkit-linear-gradient(top, #911F27, #630000);
  background-image: -moz-linear-gradient(top, #911F27, #630000);
  background-image: -ms-linear-gradient(top, #911F27, #630000);
  background-image: -o-linear-gradient(top, #911F27, #630000);
  background-image: linear-gradient(to bottom, #911F27, #630000);
  -webkit-border-radius: 60;
  -moz-border-radius: 60;
  border-radius: 60px;
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
  font-size: 1rem;
  padding: 10px 20px 10px 20px;
  border: solid #630000 2px;
  text-decoration: none;
}

.btn:hover {
  background: #fcd63c;
  background-image: -webkit-linear-gradient(top, #fcd63c, #d96834);
  background-image: -moz-linear-gradient(top, #fcd63c, #d96834);
  background-image: -ms-linear-gradient(top, #fcd63c, #d96834);
  background-image: -o-linear-gradient(top, #fcd63c, #d96834);
  background-image: linear-gradient(to bottom, #fcd63c, #d96834);
  text-decoration: none;
}

.bumblebee {
  height: 30px;
  width: 30px;
  position: absolute;
  bottom: 10px;
}

.butterfly {
  height: 70px;
  width: 70px;
  position: absolute;
  right: 500px;
  top: 500px;
}

.canvas {
  height: 200px;
  width: 200px;
  background-color: #FACE7F;
  border-width: thick;
  border-color: #630000;
  border-radius: 15px 50px 30px;
  position: absolute;
  left: 100px;
}

.co {
  margin-bottom: 0;
  color:white;
}

.computer {
  height: 200px;
  width: 200px;
  background-color: #FACE7F;
  border-width: thick;
  border-color: #630000;
  border-radius: 15px 50px 30px;
  position: absolute;
  left: 100px;
}

.contact-me {
  margin-bottom: 40px;
}

.dragonfly {
  position: relative;
  top: 100px;
  left: 100px;
}

.fairlynew {
  font-size: 1.5rem;
}

.flowerborder {
  height: 300px;
  width: 800px;
  position: relative;
  top: 500px;
}

 .footer-link {
  color: #630000;
  font-family: "Open Sans", sans-serif;
  font-weight: 900;
  text-decoration: none;
  margin: 30px 30px auto auto;
}

.footer-link:hover {
  color: White;
}

.glass {
  height: 200px;
  width: 200px;
  background-color: #FACE7F;
  border-width: thick;
  border-color: #630000;
  border-radius: 15px 50px 30px;
  position: absolute;
  right: 100px;
  top: 40px;
}

.middle {
  margin-top: 300px;
}

.Myself {
  height: 300px;
  width: 250px;
  margin-top: 50px;
}

.name {
  position: relative;
  top: 200px;
}

.nature {
  height: 100px;
  width: 100px;
  position: absolute;
  left: 150px;
  top: 40px;
}

.orchid {
  height: 300px;
  width: 250px;
  position: absolute;
  right: 100px;
  bottom: 50px;
}

.roses {
  height: 400px;
  width: 300px;
  position: absolute;
  left: 0;
}

.skills {
  margin-top: 50px;
}

.skill-row {
  height: 300px;
}

.teacher {
  height: 200px;
  width: 200px;
  background-color: #FACE7F;
  border-width: thick;
  border-color: #630000;
  border-radius: 15px 50px 30px;
  position: absolute;
  left: 100px;
}

.teachertalk {
  position: absolute;
  right: 500px;
  left: 500px;
}

.title {
  margin: 0;
  width: 100%;
  position: relative;
  top: 250px;
  font-size: 1.5rem;
}

.top {
  height: 900px;
  width: auto;
  text-align: center;
}
