body {
  background-color: #FCF0C8;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  text-align: center;
}

hr {
  border-top: 10px dotted #630000;
  border-bottom: none;
  width: 10%;
}

h1 {
  color: #630000;
  margin: 0;
  font-family: "Licorice", cursive;
  font-size: 400%;
}

/************** TOP**************/
.top {
  height: 900px;
  width: auto;
  text-align: center;
  margin-top:5%;
}


.title {
  margin: 0;
  padding-top: 5%;
  font-size: 1.5rem;
}

.dragonfly {
  float:left;
  padding-left: 15%;
}

.butterfly {
float:right;
padding-right: 15%;
padding-top: 10%;
}

.flowerborder {
  padding-top: 15%;
}

/**************Middle************/
.middle {
  margin: 10% auto;
}
.me {width:55%;
  text-align:right;
  }
.Myself {
  height: 300px;
  width: 250px;
  margin-top: 50px;
}



.roses {
float:left;
}

.fairlynew {
  font-size: 1.5rem;
  margin-bottom:10%;
}
 /*******************skills******************/

 .skills {
 margin: 10% 0;
 }

.skillrow1 {
  margin-bottom: 5%;
  display:grid;
  grid-template-columns:1fr 1fr;
  grid-template-rows:1fr;
  grid-template-areas: "skillpic1 text1";

}
.text1 {

  text-align:justify;

  grid-area: "text1";
  width:50%;
}

.skillpic1 {

grid-area:"skillpic1";
text-align:center;
padding-left: 50%;
}

.skillrow2 {
  margin-bottom: 5%;
  display:grid;
  grid-template-columns:1fr 1fr;
  grid-template-rows:1fr;
  grid-template-areas: "skillpic2 text2";

}
.text2 {

  text-align:justify;

  grid-area: "text2";
    width:50%;
}

.skillpic2 {

grid-area:"skillpic2";
text-align:center;
padding-left: 50%;
}

.skillrow3 {
  margin-bottom: 5%;
  display:grid;
  grid-template-columns:1fr 1fr 1fr;
  grid-template-rows:1fr;
  grid-template-areas: "skillpic3 text3 skillpic4";

}
.text3 {

  text-align:justify;

  grid-area: "text3";
    width:50%;
}

.skillpic3 {

grid-area:"skillpic3";
text-align:center;
padding-left: 50%;
}

.skillpic4 {
  grid-area:"skillpic4";
  padding-right:50%;
}

/******************Contact me**********************/


.contact {
}

h2 {
  font-size: 2.5rem;
  color: #630000;
}

h3 {
  font-size: 1.7rem;
}

p {
  font-size: 1.2rem;
}



.btn {
  background: #911F27;
  background-image: -webkit-linear-gradient(top, #911F27, #630000);
  background-image: -moz-linear-gradient(top, #911F27, #630000);
  background-image: -ms-linear-gradient(top, #911F27, #630000);
  background-image: -o-linear-gradient(top, #911F27, #630000);
  background-image: linear-gradient(to bottom, #911F27, #630000);
  -webkit-border-radius: 60;
  -moz-border-radius: 60;
  border-radius: 60px;
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
  font-size: 1rem;
  padding: 10px 20px 10px 20px;
  border: solid #630000 2px;
  text-decoration: none;
}

.btn:hover {
  background: #fcd63c;
  background-image: -webkit-linear-gradient(top, #fcd63c, #d96834);
  background-image: -moz-linear-gradient(top, #fcd63c, #d96834);
  background-image: -ms-linear-gradient(top, #fcd63c, #d96834);
  background-image: -o-linear-gradient(top, #fcd63c, #d96834);
  background-image: linear-gradient(to bottom, #fcd63c, #d96834);
  text-decoration: none;
}
.orchid {
}


/**********************footer********************/
.footer {
  background-color: #911F27;


}

.footer-link {
  color: #630000;
  font-weight: 900;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  margin: 30px 30px auto auto;
}

.footer-link:hover {
  color: White;
}



.co {color:white;
  margin-bottom:0;}

@media (min-width: 948px) and (max-width: 1148px) {
  .me {width:55%;

    padding-left:10%}
    .text3 { padding-left: 15%;}

  .skillpic3 {

    padding-left: 40%;
    }
  }

  @media (min-width: 0px) and (max-width: 948px) {
    .me {width:55%;

      padding-left:20%}
      .text3 { padding-left: 15%;}

    .skillpic3 {

      padding-left: 15%;
      }

      .text3 { width:75%;}
      .skillpic4 {
        padding-left:15%;
      }

      .text1{ width:75%;}
    }
    .text2{ width:75%;}
    .skillpic1 {padding-left:15%;}
        .skillpic2 {padding-left:15%;}

    .teachertalk {
        font-size: 1.5rem;
        }
  }
  }
